# Archivos y directorios de Node
node_modules/
.npm
npm-debug.log
.cache/

# Directorios de producción de Next.js
.next/
out/

# Archivos de entorno y secretos
.env
.env.local
.env.development.local
.env.production.local

# Archivos de la base de datos local
# ¡Esto es muy importante! Nunca subas tu base de datos a Git
my-drawings.db
my-magic-db.sqlite

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs de Vercel (si usas la plataforma)
.vercel/
vercel-output.json

# Archivos de la IDE (ej. VS Code)
.vscode/

# Archivos generados por TypeScript
*.tsbuildinfo

